{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.3.6.min.css' %}">
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.6.min.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
</head>
<body>
<h1>{{ dept_name }}-员工信息</h1>
<hr>
<div class="container-fluid">
    <div class="row-fluid col-md-8">
        <div class="span12">
            {% if emps %}
                <table class="table table-bordered table-hover">
                    {% csrf_token %}
                    <thead>
                    <tr class="info">
                        <th class="text-center">
                            编号
                        </th>
                        <th class="text-center">
                            员工姓名
                        </th>
                        <th class="text-center">
                            职位
                        </th>
                        <th class="text-center">
                            工资
                        </th>
                        <th class="text-center">
                            部门
                        </th>
                        <th class="text-center">
                            操作
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for emp in emps %}
                        <tr>
                            <td class="text-center">
                                {{ emp.no }}
                            </td>
                            <td class="text-center">
                                {{ emp.name }}
                            </td>
                            <td class="text-center">
                                {{ emp.job }}
                            </td>
                            <td class="text-center">
                                {{ emp.sal }}
                            </td>
                            <td class="text-center">
                                {{ emp.dept_id }}
                            </td>
                            <td class="text-center">
                                <button type="button" value="{{ emp.no }}" class="btn btn-xs btn-warning delemp">
                                    删除
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span>此部门暂时没有员工~</span>
            {% endif %}
            <div>
                <a href="{% url 'depts' %}">返回部门列表</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $('.delemp').on('click', function (e) {
            var eno = $(e.target).attr('value');
            var csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
            bootbox.setDefaults("locale", "zh_CN");
            bootbox.confirm({
                title: '提示',
                message: '是否删除该员工？',
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: '/hrs/delemp',
                            data: {
                                eno: eno, csrfmiddlewaretoken: csrfmiddlewaretoken
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.code == 200) {
                                    bootbox.alert({
                                        title: '提示',
                                        message: '员工删除成功~~',
                                    });
                                    $(e.target).parent().parent().remove();
                                }
                                if (data.code == 404) {
                                    bootbox.alert({
                                        title: '提示',
                                        message: '员工删除失败~~',
                                    });
                                }
                            },
                            error: function () {
                                bootbox.alert({
                                    title: '提示',
                                    message: '员工删除失败~~',
                                });
                            }
                        })
                    }
                }
            });
        })
    });
</script>
</html>